<h1>GETリクエスト</h1>

<h2>get</h2>

<textarea name="get" id="get" cols="80" rows="5">
$ curl "http://localhost:3000/get?id=1&name=山田太郎"
# or
$ curl http://localhost:3000/get?id=1\&name=山田太郎
# 注意点：「&」をエスケープする
</textarea>

<br>

<h2>get_and_params</h2>

<textarea name="get_and_params" id="get_and_params" cols="80" rows="5">
$ curl "http://localhost:3000/get_and_params/1?id=1&name=山田太郎"
$ curl "http://localhost:3000/get_and_params/1/2?id=1&name=山田太郎"
</textarea>

<hr>

<h1>POSTリクエスト</h1>

<h2>post</h2>

<textarea name="post" id="post" cols="80" rows="5">
$ curl http://localhost:3000/post -X POST \
-H "X-Auth-Token:fc81aaa6-98a1-9ab0-94ba-aba9a89aa9ae" \
-H 'Content-Type:application/json' \
-d '{"id":1,"name":"山田太郎"}'
</textarea>